* {
    margin: 0px;
   
}
nav {
    text-align: center;
    background-color: azure;
    font-size: medium;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav > ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;    
}

nav li > a {
    text-decoration: none;
    color: black;
}

nav li.button {
    border: solid 2px black;
    background-color: orange;
    padding-bottom: 3px;
    padding-top: 3px;
    
}

nav li.button:hover {
    background-color: springgreen;
}


div {
    text-align: center;
    margin-top: 85px;
    box-sizing: border-box;
    
}

.heading {
    color: orange;
    font-size: x-large;
    font-family: cursive;
    font-weight: 200;
    
}

.para{
    color: white;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    


}

button >a{
    text-decoration: none;
    color: black;
    padding: 8px 8px;
}

button {
    padding: 8px 16px;
    background-color: blanchedalmond;

}

button:hover{
    background-color: springgreen;
    border:solid black 2px;


}
body{
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
   
}

footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

